body {
  background: url('/assets/dark_geometric.png');
  color: #efefef;
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  line-height: 1.3em;
}

a {
  color: #09f;
  text-decoration: none;
}

a:visited {
  color: #99f;
}

a:hover {
  border-bottom: 1px dotted #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
  padding: 0 0 5px;
  border-bottom: 1px solid #eee;
}

pre {
  font-size: 0.9em;
  line-height: 1.1em;
  border: 1px solid #eee;
  background: #f6f6f6;
  padding: 3px 7px;
}

.site {
  width: 700px;
  margin: 0 auto;
}

.masthead {
  margin: 0 5px;
  padding: 4px 0 0;
}

.masthead a {
  color: #fff;
}
.masthead a:hover {
  border: none;
}

.masthead a h1 {
  color: #f60;
}
.masthead a:hover {
  color: #fff;
}

.masthead h1, .masthead h2 {
  font-family: 'Passion One', cursive;
  border-bottom: none;
  font-size: 3.2em;
  display: inline;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.3em;
  line-height: 0em;
}

.wrapper header h2 {
  border-bottom: none;
  padding: 3px 5px 7px;
  margin: 0;
}

.wrapper {
  padding: 10px;
  background: url('/assets/old_wall.png');
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #444;
}

.content {
  padding: 5px 20px;
  border: 1px solid #e6e6e6;
  background: rgba(255,255,255, 0.9);
  border-radius: 3px;
}

.content footer {
  border-top: 1px dotted #ddd;
  color: #888;
  text-align: right;
}

footer.by {
  font-size: 0.8em;
  padding: 5px 0;
  text-align: center;
  opacity: 0.5;
}
article aside {
  text-align: center;
}
article img {
  border-radius: 3px;
  width: 600px;
}
article aside p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  text-align: right;
  opacity: 0.7;
}
